main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--extra-small-max-width);
  margin: auto;
  padding: var(--space-5) var(--space-2);
}

.go-wrapper {
  display: flex;
  justify-content: center;
  width: 56px;
}

.message-wrapper {
  max-width: 500px;
  line-height: 1.75;
}