@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

:root {
  --primary: #9fcafc;
  --surface-tint: #9fcafc;
  --on-primary: #003257;
  --primary-container: #174974;
  --on-primary-container: #d0e4ff;
  --secondary: #80d5d0;
  --on-secondary: #003735;
  --secondary-container: #00504d;
  --on-secondary-container: #9cf1ec;
  --tertiary: #c5c0ff;
  --on-tertiary: #2d2960;
  --tertiary-container: #434078;
  --on-tertiary-container: #e3dfff;
  --error: #ffb3ad;
  --on-error: #571e1b;
  --error-container: #733330;
  --on-error-container: #ffdad7;
  --surface: #0d1116;
  --on-surface: #e0e2e8;
  --on-surface-variant: #c2c7ce;
  --outline: #8c9198;
  --outline-variant: #42474e;
  --shadow: #000000;
  --scrim: #000000;
  --inverse-surface: #e0e2e8;
  --inverse-on-surface: #2d3135;
  --inverse-primary: #34618e;
  --primary-fixed: #d0e4ff;
  --on-primary-fixed: #001d35;
  --primary-fixed-dim: #9fcafc;
  --on-primary-fixed-variant: #174974;
  --secondary-fixed: #9cf1ec;
  --on-secondary-fixed: #00201f;
  --secondary-fixed-dim: #80d5d0;
  --on-secondary-fixed-variant: #00504d;
  --tertiary-fixed: #e3dfff;
  --on-tertiary-fixed: #17124a;
  --tertiary-fixed-dim: #c5c0ff;
  --on-tertiary-fixed-variant: #434078;
  --surface-dim: #0d1116;
  --surface-bright: #36393e;
  --surface-container-lowest: #0b0f12;
  --surface-container-low: #181c20;
  --surface-container: #1c2024;
  --surface-container-high: #272a2e;
  --surface-container-highest: #313539;

  --extra-small-max-width: 599px;
  --small-min-width: 600px;
  --medium-min-width: 768px;
  --large-min-width: 992px;
  --extra-large-min-width: 1200px;

  --space-0: 0;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 24px;
}

body {
  margin: 0;
  background: var(--surface);
  color: var(--on-surface);
}

img {
  width: 100%;
}

h1, p {
  margin: 0;
}

a {
  color: var(--secondary);
}

small {
  font-size: 0.7rem;
  color: var(--on-surface-variant);
}

main {
  min-height: calc(100vh - 102px);
}

footer {
  padding: 12px 8px;
  border-top: solid 1px var(--outline);
}

.copy-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copy-icon {
  margin-right: 4px;
  font-size: 1.2rem;
}

.copy-text {
  font-size: 0.8rem;
}

.space-1 {
  margin-top: var(--space-1);
}

.space-2 {
  margin-top: var(--space-2);
}

.space-3 {
  margin-top: var(--space-3);
}

.space-4 {
  margin-top: var(--space-4);
}

.space-5 {
  margin-top: var(--space-5);
}